<a href="https://colab.research.google.com/github/JUSTYNAYANG/zerojudge/blob/main/a004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

西元年被4整除且不被100整除，或被400整除者即為閏年

In [1]:
9%4

1

In [11]:
a = input()
a = a.split()

for i in a:
  b = int(i)
  if b%4 == 0:
    if b%100 != 0 and b%400 != 0:
      print("閏年")
  else:
    print("平年")

1980
閏年

In [14]:
while True:
  try:
    a = input()

    b = int(a)
    if b%4 == 0:
      if b%100 != 0 and b%400 != 0:
        print("閏年")
    else:
      print("平年")
  except:
    break

1997
平年
1989
平年
1980
閏年